{
    "root": true,
    "env": {
        "node": true,
        "es2021": true
    },
    "parserOptions": {
        "sourceType": "module"
    },
    "extends": ["prettier", "plugin:prettier/recommended"],
    "plugins": ["prettier"],
    "rules": {
        "prettier/prettier": "error"
    }
}
