{
  "extends": "stylelint-config-recommended",
  "ignoreFiles": [
      "public/**/*.css"
  ],
  "plugins": [
    "stylelint-order",
    "stylelint-prettier"
  ],
  "rules": {
    "at-rule-no-unknown": [
      true,
      {
        ignoreAtRules: [
          "tailwind",
          "apply",
          "variants",
          "responsive",
          "screen",
        ],
      },
    ],
    "declaration-block-trailing-semicolon": null,
    "no-descending-specificity": null,
    "prettier/prettier": true,
    "order/properties-order": [
      "extend",
      "content",
      "display",
      "position",
      "z-index",
      "top",
      "bottom",
      "left",
      "right",
      "flex",
      "flex-basis",
      "flex-direction",
      "flex-flow",
      "flex-grow",
      "flex-shrink",
      "flex-wrap",
      "align-content",
      "align-items",
      "align-self",
      "justify-content",
      "order",
      "float",
      "clear",
      "width",
      "min-width",
      "max-width",
      "height",
      "min-height",
      "max-height",
      "margin",
      "margin-top",
      "margin-bottom",
      "margin-left",
      "margin-right",
      "padding",
      "padding-top",
      "padding-bottom",
      "padding-left",
      "padding-right",
      "border",
      "border-top",
      "border-bottom",
      "border-left",
      "border-right",
      "border-width",
      "border-top-width",
      "border-bottom-width",
      "border-left-width",
      "border-right-width",
      "border-style",
      "border-top-style",
      "border-bottom-style",
      "border-left-style",
      "border-right-style",
      "border-color",
      "border-top-color",
      "border-bottom-color",
      "border-left-color",
      "border-right-color",
      "border-radius",
      "border-top-left-radius",
      "border-top-right-radius",
      "border-bottom-left-radius",
      "border-bottom-right-radius",
      "background",
      "background-attachment",
      "background-color",
      "background-image",
      "background-repeat",
      "background-position",
      "background-size",
      "color",
      "font",
      "font-family",
      "font-size",
      "font-smoothing",
      "font-style",
      "font-variant",
      "font-weight",
      "line-height",
      "letter-spacing",
      "list-style",
      "text-align",
      "text-decoration",
      "text-indent",
      "text-overflow",
      "text-rendering",
      "text-shadow",
      "text-transform",
      "text-wrap",
      "white-space",
      "word-spacing",
      "border-collapse",
      "border-spacing",
      "caption-side",
      "cursor",
      "empty-cells",
      "opacity",
      "overflow",
      "quotes",
      "speak",
      "table-layout",
      "vertical-align",
      "visibility",
      "pointer-events",
      "outline",
      "outline-color",
      "outline-offset",
      "outline-style",
      "outline-width",
      "box-shadow",
      "columns",
      "column-gap",
      "column-fill",
      "column-rule",
      "column-span",
      "column-count",
      "column-width",
      "transform",
      "transform-box",
      "transform-origin",
      "transform-style",
      "transition",
      "transition-delay",
      "transition-duration",
      "transition-property",
      "transition-timing-function"
    ],
  }
}
